<div class="container-fluid containerBox">

    <div class="contactContent">
        <h1 class="contactHeader text-center">Want to get in contact with us?</h1>
        <p class="contactText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quisquam, quia voluptate, culpa, adipisci dignissimos at saepe odit nam similique rerum quis molestiae id blanditiis deserunt ipsa. Ex, aut sapiente! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius doloremque, voluptas ipsa asperiores molestiae hic voluptatum porro laudantium aliquam facere autem! Quasi, placeat. Et maxime error, amet consectetur maiores qui?</p>
    </div>


    <div class="contactSection">
        <div class="row">
            <div class="contactForm col-md-8">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <input type="name" class="form-control" id="inputName4" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="subject" class="form-control" id="inputEmail4" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-row">
                        <textarea name="message" class="message form-control" placeholder="Write your message..."></textarea>
                    </div>
                    <button type="submit" class="contactBtn">Send!</button>
                </form>
            </div>
            <div class="contactInfoBox col-md contactInfoBg">
                <div class="contactInfo">
                    <h2 class="text-center color-primary">Need Our Info?</h2>
                    <div class="addressBox">
                            <img src="./../../assets/address.png" class="contactInfoIcon" alt="">
                            <div class="addressInfo">
                                <h3 class="text-left primaryOnHover">Address</h3>
                                <p class="text-left primaryOnHover">123 Main Street, New York City, New York 10001</p>
                            </div>
                    </div>    
                    <div class="addressBox">
                        <img src="./../../assets/email.png" class="contactInfoIcon" alt="">
                        <div class="addressInfo">
                            <h3 class="text-left primaryOnHover">Email</h3>
                            <p class="text-left primaryOnHover">anyone@example.com</p>
                        </div>
                    </div> 
                    <div class="addressBox">
                        <img src="./../../assets/call.png" class="contactInfoIcon" alt="">
                        <div class="addressInfo">
                            <h3 class="primaryOnHover">Call</h3>
                            <p class="text-center primaryOnHover">+1(555)555-5555</p>
                            <p class="text-center primaryOnHover">+1(555)999-9999</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
