/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.containerBox{
    height: 78vh;
}

:root{
    --primary: #4e4efc;
}

.color-primary{
    color:var(--primary);
}

.grow{transition: all .2s ease-in-out;}
.grow:hover{
    transform:scaleY(1.1);
    transform:scaleX(1.1);
}

@keyframes opacityFill{
    100%{opacity: 1;}
}