
/* Logo */

.logo{
    color: var(--primary);
    font-size: 4rem;
    font-weight: 900;
    padding-left: 50px;
    padding-top:25px;
}

.logo span{
    color: black;
}

/* Navbar */

.navLink{
    color: var(--primary);
}














