<div class="logo"><span>An</span>Gency</div>

<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <a class="nav-link navLink" [routerLink]="['/']" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navLink" [routerLink]="['/services']" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navLink" [routerLink]="['/contact']" href="#">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navLink" [routerLink]="['/work']" href="#">Work</a>
  </li>
</ul>


<router-outlet></router-outlet>


<div class="footer bg-secondary">
    <div class="imgBox" >
      <img src="./../assets/email2.png" id="emailHome" alt="">
    </div>
    <div class="imgBox">
      <img src="./../assets/twitter.png"  alt="">
    </div>
    <div class="imgBox">
      <img src="./../assets/facebook.png"  alt="">
    </div>
    <div class="imgBox">
      <img src="./../assets/instagram.png"  alt="">
    </div>
</div>
