/* Header */
.serviceContent{
    margin-top: 2%;
    animation: opacityFill 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.serviceHeader{
    color: var(--primary)
}

.serviceText{
    font-weight: 600;
}

/* Service body Cards */

.cardHeader{
    color: var(--primary);
    font-size: 1.5rem;
}

.cardSection{
    display: flex;
    justify-content: space-around;
}

.cardContainer{
    margin-left: 5%;
    margin-top: 5%;
}

.cardContainer:hover{
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0,0,0);
    
}


@keyframes shake{
    10%,90%{transform: translate3d(-1px,0,0);}
    20%,80%{transform: translate3d(2px,0,0);}
    30%, 50%, 70%{transform: translate3d(-4px,0,0);}
    40%,60%{transform: translate3d(4px,0,0);}
}

@media(max-width: 2300px){
    /* .cardContainer{
        width: 200px;
        height: 100px;
    } */
}