<div class="container-fluid containerBox">

    <div class="row">
        <div class="col homeWords">
            <div class="homeContent text-center">
                <h1 class="h1">Your <span>Dreams</span> can become <span>Reality</span></h1>
                <h3 class="blockquote text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum aperiam cum distinctio illo, quae voluptas? Aperiam eos et ab magni sapiente aliquid, pariatur vero cumque sed eius. Dolorum, voluptatibus?</h3>
            </div>
            <div class="row">
            <button class="homeBtn col" [routerLink]="['/work']">Check Us Out!</button>
            </div>
        </div>
        <div class="col imgContainer">
            <img src="./../../assets/home-img.jpg" alt="">
        </div>
    </div>
</div>