<div class="container-fluid containerBox">
    <div class="workContent">
        <h1 class="workHeader text-center">Projects we have worked on!</h1>
        <p class="workText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quisquam, quia voluptate, culpa, adipisci dignissimos at saepe odit nam similique rerum quis molestiae id blanditiis deserunt ipsa. Ex, aut sapiente! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius doloremque, voluptas ipsa asperiores molestiae hic voluptatum porro laudantium aliquam facere autem! Quasi, placeat. Et maxime error, amet consectetur maiores qui?</p>
    </div>
    <div class="workProjects">
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item1.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Project Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item2.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item3.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item4.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
    
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item5.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item6.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item7.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item8.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
    
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item9.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item10.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item11.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item12.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
    
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item13.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item14.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item15.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        <div class="box ">
            <div class="imgBox">
                <img src="./../../assets/portfolio-item16.jpg" class="projectImage" alt="">
            </div>
            <div class="content">
                <div>
                    <h2>Image Title</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro placeat nam earum soluta itaque voluptatibus quos ipsam. </p>
                </div>
            </div>
        </div>
        
    </div>
</div>